node_modules/

prisma/*.db
coverage/

.DS_Store

prisma/migrations/dev/
.env

uploads/
.aws

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

